.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}
.input_box{
    width: 100%;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    background-color: rgb(200, 170, 205);
    font-size: 1.5rem;
    border: none;
    transition:0.2s;
    box-shadow: inset 0 0 0.5rem rgb(36, 21, 4);
}
.input_box:focus {
    box-shadow: 0 0 0.5rem 100vh rgb(82, 121, 4);
    outline: none;
}
.input_submit {
position: absolute;
width: 50px;
height: 50px;
margin: 12px;
border-radius: 50px;
right: 0px;
border: none;
font-size: 1rem;
font-weight: 700;
background-color:rgb(177, 54, 199);
color: rgb(182, 234, 76);
transition: 0.2s all;
box-shadow:0 0 10px rgb(24, 16, 4)
}
.input_submit:hover {
   background-color:rgb(221, 67, 248);
}
.input_submit:active{
    transform: scale(0.8);
box-shadow:0 0 5px rgb(24, 16, 4)
}

